* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Andada Pro", serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

nav img {
  height: 100px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  padding: 0 20px;
  font-size: 1.5rem;
}

nav ul li:last-child {
  border: 2px solid black;
  padding: 10px;
}
